body {
	font-size: 5px;
	background-color: #36393E;
}
body>div {
	display: flex;
	flex-direction: column;
}
div>div:first-child {
	width: 1em;
	height: 0.2em;
	background-image: url("./gieb.png");
	background-repeat: no-repeat;
	background-size: contain;
}
div>div:last-child {
	font-size: 1.1em;
	display: flex;
	flex-direction: column;
}