* {
	border: 1px aqua dashed;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

html {
	font-size: 18px;
	font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
	background-color: white;
}

.app {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: left;
	flex-direction: row;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.center {
	margin-right: auto;
	margin-left: auto;
}

.fullwidth {
	width: 100%;
}

.marginLR5{
	margin-left: 5px;
	margin-right: 5px;
}

/* iconmenu */
.iconmenu {
	font-size: 70px;
	width: 1em;
	background-color: #4A76A8;
}

.iconmenu>a.circlelogo {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0.15em auto;
	height: 0.7em;
	width: 0.7em;
	border-radius: 0.35em;
	background-color: #698DB7;
}

.iconmenu>a.circlelogo::before {
	content: "СВД";
	font-size: 0.22em;
	cursor: pointer;
	color: #BFCFE0;
}

.iconmenu>a:not(.circlelogo) {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 0.8em;
	color: #BFCFE0;
	text-decoration: none;
}

.iconmenu>a:not(.circlelogo)::before {
	font-size: 0.4em;
}
.iconmenu>a:not(.circlelogo):hover {
	font-size: 1.4em;
}

.iconmenu>a.pushbottom {
	margin-top: auto;
}

.iconmenu>a:last-child {
	margin-bottom: 0.3em;
}

/* listmenu */

.knowbasemenu {
	width: 230px;
	background-color: #F4F5F7;
	font-size: 1rem;
}

.knowbasemenu>p {
	margin: 15px 5px;
}

.knowbasemenu>a {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 4px 10px;
	padding: 5px;
	height: 30px;
	font-size: 0.85rem;
	text-decoration: none;
	color: black;
}

.knowbasemenu>a:hover {
	border-radius: 4px;
	background-color: rgb(235, 235, 235);
} 

.knowbasemenu>a.selected {
	border-radius: 4px;
	background-color: #D7DBE4;
}

.knowbasemenu>a>p {
	display: flex;
	align-items: center;
	font-size: 0.95em;
	height: 100%;
	padding: 2px;
	border-radius: 2px;
	background-color: #85BE9F;
	color: white;
}



/* postlist */

.articles-section {
	width: 100%;
	max-width: 1000px;
}

.articles-section>div {
	margin: 10px;
}

/* postlistheader inside postlist */

.articles-header>p {
	font-size: 1.5rem;
	margin: 10px;
}

.articles-header>div {
	margin: 10px;
}

.articles-header>div>select {
	font-size: 0.8rem;
	padding: 5px;
}

/* postlistmain inside postlist */

.articles-list-item {
	width: 100%;
	/*background-color: green;*/
	display: flex;
	flex-direction: row;
	margin: 5px;
}

.articles-list-item-icon{
	font-size: 32px;
	align-self: center;
}

.articles-list-item-title {
	margin-left: 10px;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.articles-list-item-dots
{
	font-size: 20px;
	align-self: center;
}

.articles-list-item-datetime {
	width: 10rem;
	font-size: 0.8rem;
	align-self: center;
	text-align: center;
}
.articles-list-item>div:nth-child(2)>div {
	font-size: 0.9rem;
}