/*div, p, span, a {
	border: 1px aqua dashed;
	box-sizing: border-box;
}*/

a {
	text-decoration: none;
	color: rgb(114, 168, 230);
}

html {
	font-size: 14px;
}

body {
	background-color: white;
}

.app {
	width: 100%;
	height: 100vh;
	min-height: min-content;
	display: flex;
	flex-direction: row;
}

.fullheight-flex-column
{
	height: 100%;
	display: flex;
	flex-direction: column;
}

.left-iconmenu
{
	font-size: 50px;
	width: 1em;
	background-color: #4A76A8;
}

.left-iconmenu>a
{
	display: flex;
	margin: 0.15em;
	width: 0.7em;
	height: 0.7em;
}

.left-iconmenu>a::before
{
	font-size: 0.7em;
}

.left-iconmenu>a.bottom
{
	/*justify-self: flex-start;*/
	/*align-self: flex-end;*/
}

/*.fullheight-flex-column>div
{
	width: 100%;
	height: 50px;
	font-size: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.fullheight-flex-column>div>a
{
	margin: 10%;
	width: 80%;
	font-size: 0.8em;
}*/

.vertical-selected-menu
{
	width: 180px;
	height: 100%;
	background-color: #F4F5F7;
}


