* {
	/*border: 1px aqua dashed;*/
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

html {
	font-size: 18px;
	font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
	background-color: white;
}

.app {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
}

.fullheight-flex-column {
	height: 100%;
	min-height: min-content;
	display: flex;
	flex-direction: column;
}

.left-iconmenu {
	font-size: 70px;
	width: 1em;
	background-color: #4A76A8;
}

.left-iconmenu>a {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 0.8em;
	/*margin: 0.2em 0;*/
	/*width: 0.4em;*/
	/*width: 100%;*/
	/*height: 0.4em;*/
	color: #BFCFE0;
	text-decoration: none;
}

.left-iconmenu>a::before {
	font-size: 0.4em;
}

.left-iconmenu>div.pushbottom {
	margin-top: auto;
}

.left-iconmenu>a:last-child {
	margin-bottom: 0.3em;
}

.left-iconmenu>a.circlelogo {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0.15em auto;
	height: 0.7em;
	width: 0.7em;
	border-radius: 0.35em;
	background-color: #698DB7;
}

.left-iconmenu>a.circlelogo::before {
	content: "СВД";
	font-size: 0.22em;
	cursor: pointer;
	color: #BFCFE0;
}

.left-listmenu {
	width: 230px;
	background-color: #F4F5F7;
	font-size: 1rem;
}

.left-listmenu>label.title {
	padding: 10px 5px;
}

.left-listmenu>a.listelement {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 4px 10px;
	padding: 5px;
	height: 30px;
	font-size: 0.85rem;
	text-decoration: none;
	color: black;
}

.left-listmenu>a.listelement:hover {
	border-radius: 4px;
	background-color: rgb(235, 235, 235);
} 

.left-listmenu>a.selected {
	border-radius: 4px;
	background-color: #D7DBE4;
}

.left-listmenu>a>p {
	display: flex;
	align-items: center;
	font-size: 0.95em;
	height: 100%;
	padding: 2px;
	border-radius: 2px;
	background-color: #85BE9F;
	color: white;
}