.w10{width: 10%;}
.w20{width: 20%;}
.w30{width: 30%;}
.w40{width: 40%;}
.w50{width: 50%;}
.w60{width: 60%;}
.w70{width: 70%;}
.w80{width: 80%;}
.w90{width: 90%;}
.w100{width: 100%;}

.h10{height: 10%;}
.h20{height: 20%;}
.h30{height: 30%;}
.h40{height: 40%;}
.h50{height: 50%;}
.h60{height: 60%;}
.h70{height: 70%;}
.h80{height: 80%;}
.h90{height: 90%;}
.h100{height: 100%;}

.wh10{width: 10%;height: 10%;}
.wh20{width: 20%;height: 20%;}
.wh30{width: 30%;height: 30%;}
.wh40{width: 40%;height: 40%;}
.wh50{width: 50%;height: 50%;}
.wh60{width: 60%;height: 60%;}
.wh70{width: 70%;height: 70%;}
.wh80{width: 80%;height: 80%;}
.wh90{width: 90%;height: 90%;}
.wh100{width: 100%;height: 100%;}


